body, h1, h2, ul, li, a {
    margin: 0;
    padding: 0;
    font-family: sans-serif, "Ubuntu", Arial, Helvetica /* Font family for the webpage */
}

body {
    background: radial-gradient(circle, rgb(0,0,0), rgb(40,0,40)); /* Gradient dark purple background */
}

h1 {
    color: cyan;
    font-size: 2em;
    margin-bottom: 0.5em;
} /* Cyan color and font size and spacing adjustments for <h1> element */

h2 {
    color: plum;
    font-size: 1.5em;
    margin-bottom: 1em;
} /* Plum color and font size and spacing adjustments for <h2> element */

ul {
    list-style-type: none;
    margin-left: 20px;
    margin-bottom: 12px;
} /* Defines no list type and margins for unordered list */

ul li {
    margin-bottom: 5px;
} /* Bottom margin for <ul> and <li> elements */

a {
    display: inline-block;
    color: yellow;
    text-decoration: none;
    padding: 5px 10px;
    border: 3px solid #00FFFF;
    transition: all 0.3s ease;
} /* Makes <a> elements have cyan border and yellow font with an animation transition */

a:hover {
    background-color: green;
    color: white;
    border: 3px solid yellow;
} /* Adds green background, white font, and yellow border when hovering over <a> elements */

.center-text {
    text-align: center;
} /* Centers-aligns text */

#footer {
    color: pink;
    font-weight: bold;
} /* A custom ID that makes footers bold with pink text color */


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
} /* Makes scrollbars appear if the content overflows the viewport */

.BulletUnorderedList {
    list-style-type: disc;
} /* Applied disc-style bullets, the plum text color, and font size and spacing adjustments to unordered lists */

header, nav, main, aside, footer {
    padding: 10px;
    box-sizing: border-box;
} /* Global padding and box-sizing for all sections */

header {
    background-color: magenta;
    border-bottom: 10px solid yellow;
} /* Header styling with a magenta background color and bottom border */

nav {
    background-color: blue;
    width: 25%;
    float: left;
} /* Navigation styling with blue background, width and float */

main {
    background-color: greenyellow;
    width: 50%;
    float: left;
} /* Main content styling with green-yellow background, width and float */

aside {
    background-color: #990000;
    width: 25%;
    float: left;
} /* Aside styling with dark red background, width and float */

footer {
    clear: both;
    background-color: #404040;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
} /* Footer styling with clear float, dark gray background, text alignment, padding, position and width */